 <!DOCTYPE html>
 <html>
    <head>
        <title>Radio | HP Larp</title>
        <script type="text/javascript" src="/js/socket.io.min.js"></script>
        <script type="text/javascript" src="/js/commFunctions.js"></script>
        <script type="text/javascript" charset="utf-8">
            function connect() {
                var payload = {status: 'connect', type: 'user'};
                
                sendConnectMessage('connection', payload);
                
                var socket = io.connect('http://' + document.domain + ':' + location.port);
                socket.on('gameData', function(json){ parseGameData(json); });
            }
            
            function sendEvent(eventId) {
                var payload = eventId;
                sendMessageOnce('dispatchEvent', payload);
            }
            
            function parseGameData(json) {
                var status = json["running"];
                
                var pwd    = json["password"]
                
                if(status == false) {
                    document.getElementById("start").disabled = false;
                    document.getElementById("stop").disabled = true;
                }
                else {
                    document.getElementById("start").disabled = true;
                    document.getElementById("stop").disabled = false;
                }
            
                document.getElementById("runningStatus").innerHTML = status;
                document.getElementById("days").innerHTML    = json["dd"].toLocaleString(undefined, {minimumIntegerDigits: 2});
                document.getElementById("hours").innerHTML   = json["hh"].toLocaleString(undefined, {minimumIntegerDigits: 2});
                document.getElementById("minutes").innerHTML = json["mm"].toLocaleString(undefined, {minimumIntegerDigits: 2});
                document.getElementById("seconds").innerHTML = json["ss"].toLocaleString(undefined, {minimumIntegerDigits: 2});
                
                document.getElementById("passwd").innerHTML = pwd;
            }
            
            function start() {
                var payload = {action: 'start'};
                sendMessageOnce('adminAction', payload);
            }
            
            function stop() {
                var payload = {action: 'stop'};
                sendMessageOnce('adminAction', payload);
            }
            
            function set() {
                var payload = {action: 'set'};
                payload["dd"] = document.getElementById("in_days").value;
                payload["hh"] = document.getElementById("in_hrs").value;
                payload["mm"] = document.getElementById("mins").value;
                payload["ss"] = document.getElementById("secs").value;
                
                sendMessageOnce('adminAction', payload);
            }
            
            function enterPasswordManually() {
                var password = prompt("Zadejte heslo:", "");

                if (password == null || password == "") {
                    return;
                } else {
                    url = window.location.href+"passwd/"+password;
                    window.location.href = url
                }
            }
            
            connect();
        </script>
    </head>
    <body>
        <button onclick="window.location.href = window.location.href;">Reload</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button onclick="enterPasswordManually();">Enter password manually</button> <br/><br/>
        
        <b>Clock control:</b><br/>
        Running status: <span id="runningStatus"></span><br/>
        <button id="start" onclick="start();">START</button> 
        <button id="stop" onclick="stop();">STOP</button><br/><br/>
        
        <b>Actual time:</b><br/>
        <span class="label">dd:hh:mm:ss</span><br/>
        <span id="days"></span>:<span id="hours"></span>:<span id="minutes"></span>:<span id="seconds"></span><br/><br/>
        
        <b>Set time (dd:hh:mm:ss format):</b><br/>
        <input  type="number" id="in_days" value="0" step=1 min="0"/> : <input  type="number" id="in_hrs" value="0" step=1 min="0" max="23"/> : 
        <input  type="number" id="mins" value="0" step=1 min="0" max="59"/> : <input  type="number" id="secs" value="0" step=1 min="0" max="59"/> 
        <button id="set" onclick="set();">SET</button><br/><br/><br/>
        
        <b>Last entered password: </b><span id="passwd">{{ last_pwd }}</span><br/><br/>
        
        <b>Records to play:</b><br/>
        <table border="1">
        {{ html_data|safe }}
        </table>
        
        <br/>
        <p>Informace: Nejsou zde zadne kontroly koherence dat. Pokud bude cas zacatku vetsi, nez cas konce, tak se proste prehravka nespusti.</p>
        <p>Prehravka, ktera ma zaskrtnute policko "prehrano" se uz znovu nespusti - timto se da nejaka nahravka "vypnout". </p>
        <p>Vztazny cas je Sobota 00:00 - pulnoc mezi sobotou a nedeli - tzn. 1h pred zacatkem intervalu pro prvni stopu. Vsechny ostatni casy jsou relativni vuci tomuto casu. O pulnoci stisknete tlacitko "start". Pokud ho stisknete pozdeji, pouzijte radek hned pod tim, kam zadate, kolik je hodin. </p>
    </body>
 </html>
